body {
    background-color: #222;
    color: #06ad00;
  }
  
  /* Example styling for a specific element */
  h1 {
    color: #2e2e2e;
  }
  
  /* Example styling for a specific element */
  p {
    color: #ddd;
  }
  
  /* Example styling for a specific element */
  a {
    color: #66cdaa;
  }
  